<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhongTroTot | Access</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/public/css/access.css" type="text/css">
    <script src="https://kit.fontawesome.com/fa970346af.js" crossorigin="anonymous"></script>
</head>
<body>
    
    {{#if message}}
    <div class="alert-custom alert alert-{{message.type}}" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{message.intro}}</strong> {{message.message}}
    </div>
    {{/if}}
    <div class="container-custom">
        
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn btn-custom button-login" onclick="login()">Login</button>
                <button type="button" class="toggle-btn btn-custom button-res" onclick="register()">Register</button>
            </div>
            <div class="login-another" id="fb-gg-login">
                <div>Or</div>
                <a href="#" class="fb-login btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="google-login btn"><i class="fa fa-google fa-fw">
                    </i> Login with Google+
                </a>
            </div>
            <!--FORM LOG IN-->
            <form method="POST" action="/users/login" id="login" class="access">
                <input type="email" class="input-text first" placeholder=" Enter email..." name="email" required><br>
                <input type="password" class="input-text" placeholder=" Password..." name="password" required><br>
                <input type="checkbox" id="save-pass" ><span class="checkbox-login">Remember me.</span><br>
                <input type="submit" id="btn-login" value="Login" class="btn-custom">
                <p id="forget-pass">&#10141; <a href="/forgot">Forgot your password ?</a> </p>
            </form>
            <!--FORM  REGISTER-->
            <form method="POST" action="/users" id="register">
                <input type="text" class="input-text first" placeholder=" Enter name..." name="name" required><br>
                <input type="email" class="input-text" placeholder=" Enter email..." name="email" required><br>
                <input type="password" class="input-text" id="password" placeholder=" Password..." name="password" required><br>
                <input type="password" id="confirm-password" name="confirm" class="input-text" placeholder=" Confirm password..." required><br>
               
                <span id="who" class="checkbox-login">Who are you? </span>
                <input type="radio" name="role" value="tenant" checked class="radio checkbox-login"> Tenant
                <input type="radio" name="role" value="host" class="radio"> Host<br>
                <input type="checkbox" id="term" register><span class="checkbox-login">Accept terms.</span><br>
                
                <input type="submit" id="btn-register" value="Register" class="btn-custom">
            </form>
        </div>
    </div>

    <script src="/src/app/jquery-3.5.1.min.js"></script>

    <script>
        var x = document.getElementById("btn");
        var y = document.getElementById("login");
        var z = document.getElementById("register");

        function register(){
            x.style.left = "50%";
            y.style.display = "none";
            z.style.display = "inline";
            $('#fb-gg-login').hide();
            $('.button-res').css('color', '#fff')
            $('.button-login').css('color', '#000')

        }

        function login(){
            x.style.left = "0";
            z.style.display = "none";
            y.style.display = "inline"
            $('#fb-gg-login').show();
            $('.button-res').css('color', '#000')
            $('.button-login').css('color', '#fff')

        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>