@import "variables";
@import "./news-grid.scss";
@import "./cus-review.scss";

html {
  scroll-behavior: smooth;
}
.carousel-navheader .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-backgound-size: cover;
  background-size: cover;
}

.carousel-navheader .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.carousel-navheader .carousel-caption h3 {
  display: inline-block;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  // margin-top: 25px;
  color: #fff;
  font-family: $primary-font;
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.carousel-navheader .carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
  letter-spacing: 6px;
  color: #fff;
  font-family: $primary-font;
}
.carousel-navheader .carousel-caption a {
  display: flex;
  text-transform: uppercase;
  padding: 10px 30px;
  color: #fff;
  margin-top: 15px;
}
.carousel-navheader .carousel-caption .btn-outline-light {
  margin-top: 15px;
  border: 2px solid #f5f5f5;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 18px;
}
.w-100-cus {
  height: 100vh;
}

.img-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  top: auto;
  right: auto;
  z-index: 10;
  background-color: #000;
  opacity: 0.3;
}

.carousel-navheader .carousel-img {
  object-fit: cover;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.navbar {
  .nav-link {
    padding: 8px 6px !important;
    margin: 0 10px !important;
    // &:link {
    //   color: #fff !important;
    // }
    // &:visited {
    //   color: #fff !important;
    // }
    &:hover {
      color: $title-color !important;
      border-bottom-color: $title-color !important;
    }
    // &:active {
    //   color: #fff !important;
    // }
  }
  
}

.icon-search {

  background-color: transparent;
  height: 38px;
  color: #a4a4a4;
  font-size: 18px;
  border: none;
  position: absolute;
  top: 0;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.icon-search:hover {
  background-color: #20ad96;
  transition: all 0.5s;
  .fa-search {
    color: #fff;
    transition: all 0.3s;
  }
}
.form-search {
  position: relative;
}
.search-input {
  padding-right: 0px !important;
  margin-right: 0px !important;
}

.carousel-navheader {
  margin-bottom: 90px;
}


/* header */
.user-img-header {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.navbar-nav-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item-user {
  border-left: 1px solid #ddd;
}

/* header */
.bg-light {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: #fff !important;
  .navbar-nav .active > .nav-link {
    color: #000 !important;
    border-bottom: 2px solid #000 !important;
  }
  .nav-link {
    color: #000 !important;
    font-size: 16px;
  }
  .nav-link:hover {
    color: $title-color !important;
  }
  transition: all 0.3s 0s linear;
}

.range {
  height: 80px;
  width: 380px;
  background: #fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
.sliderValue {
  position: relative;
  width: 100%;
}
.sliderValue .area-span {
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500; 
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.sliderValue span.show {
  transform: translateX(-48%) scale(1);
}
.sliderValue span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: $title-color;
  border: 3px solid #fff;
  z-index: -1;
  left: 32%; //50% is default;
  top: 7%;
  transform: translateX(-54%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value {
  position: absolute;
  font-size: 18px;
  color: rgb(73, 80, 87);
  font-weight: 600;
}
.field .value.left {
  left: -22px;
}
.field .value.right {
  right: -43px;
}
.range .area-input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 10;
}
.range .area-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: $title-color;
  border: 1px solid $title-color;
  cursor: pointer;
}
.range .area-input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: $title-color;
  border: 1px solid $title-color;
  cursor: pointer;
}
.range .area-input::-moz-range-progress {
  background: #664aff; //this progress background is only shown on Firefox
}
.scroll-down {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}


@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text-scroll {
  display: block;
  margin-top: 75px;
  margin-left: -31px;
  font-family: $primary-font;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}
.map-search {
    display: flex;
    // align-items: center;
    height: 79vh;
    background: #fff;
    font-family: $primary-font;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.16);
    border-radius: 25px;
    // padding-right: 0;
  }


.search-bar-container {
    padding: 20px;
    width: 40%;
}
.mb25 {
    margin-bottom: 25px;
}
.w49 {
  width: 49%;
}
.form-input-custom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.btn-form-search {
    margin-top: 25px;
    background-color: $title-color;
    border-color: $title-color;
    &:hover {
      background-color: #318c7d;
      border-color: #318c7d;
    }
}
.area-range {
    display: flex;
    box-sizing: border-box;
    
}
.area-desc {
    .fa-chart-area {
        padding-right: 10px;
        font-size: 20px;
    }
    .span-area {
        font-size: 16px;
        font-family: $primary-font;
        color: rgb(73, 80, 87);
    }
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.range {
    flex-grow: 1;
}

.map-search {
    margin-bottom: 90px;
}
.search-keyword::placeholder {
    color: rgb(73, 80, 87);
}

.search-title {
  text-align: center;
  margin-bottom: 35px;
  &-h3 {
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    color: #555;
    span {
      text-transform: uppercase;
      font-family: $primary-font;
      font-weight: 900;
      color: $title-color;
      padding-right: 10px;
    }
  }
}

.line-text {
  text-align: center;
  position: relative;
  .line-text-icon {
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    &:hover{
      background-color: $title-color;
      border-color: $title-color;
    }
  }
}
.line-text-icon > i {
    color: #fff;
    font-size: 16px;
    position:relative;
    top: calc(50% - 10px);
}
.line-text:before {
  content: "";
  width: 60%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  background-color: $title-color;
}
.line-text .line-text-icon {
  display: inline-block;
  background-color: $title-color;
  border-color: $title-color;
  position: relative;
  z-index: 2;
  padding: 1rem;
  font-weight: 600;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:45.30%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.map-responsive {
  flex-grow: 1;
}
.gmap_canvas {
  width: 100% !important;
  height: 100% !important;
}
.mapouter {
  width: 100% !important;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.detail-page-container {
  background-color: #F7F8F9;
  padding-top: 80px;
}

.breadcrump {
  list-style: none;
  display: flex;
  padding: 0;
  &-item {
    padding-right: 5px;
    font-size: 13px;
    color: #00aeff;
    &:not(:first-child) {
      &::before {
        content: '\f054';
        font-family: 'FontAwesome';
        margin-right: 5px;
      }
    }
  }
  .active {
    color: #6c757d;
  }
}
.item-tools {
  display: flex;
  list-style: none;

  .item-tool {
    margin-right: 7px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    &:hover {
      border-color: $title-color;
      background-color: $title-color;
      span {
        color: #fff;
      }
    }
  }
}
.sale-detail {
  background-color: $title-color !important;
  width: 70px;
  font-size: 12px;
  padding: 1px 8px !important;
  border-radius: 4px;
}
.location-detail {
  color: #636363 !important;
  font-size: 15px !important;
  padding-top: 15px;
}
.page-title {
  font-size: 34px;
  font-weight: 700;

}
.price-detail {
  color: $title-color;
  > span {
    margin-left: 7px;
  }
}

.page-title-container {
  margin-bottom: 30px;
}

.form-contact {
  padding: 30px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 6px;
}
.contact-desc {
  // text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #484848;
  font-weight: 700;
}
.owner-info {
  display: flex;
  margin-bottom: 25px;
}
.owner-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.owner-name {
  font-size: 16px;
  color: #484848;
  margin: 0;
  font-weight: 700;
  padding-bottom: 5px;
}
.owner-phone {
  color: #484848;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 5px;
}
.owner-email {
  color: #484848;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding-bottom: 5px;
}
.form-contact-wrapper {
  // padding-right: 7px;
}

.inputCustomize {
  
  &::placeholder {
    color:  #484848;
    font-size: 13px;
    
  }
}
.message-input {
  height: 90px;
  &::placeholder {
    transform:translate3d(0,-25px,0)
  }
}
.btn-block {
  padding: 12px 30px;
}
.overview {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  margin-bottom: 30px;
  &-desc {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #ddd;
  }
  &-title {
      font-size: 18px;
      color: #222;
  }
}
.product-id {
  > span {
    color: #5c6872 ;
  }
}
.overview-detail {
  padding-top: 25px;
}
.hz-meta-label {
  color: #5c6872;
  font-size: 15px;
  font-weight: 300;
}
.property-overview-item{
  padding-bottom: 7px;
  > i {
    color: #5c6872;
    padding-bottom: 10;
  }
}
.description-wrapper {
  border-radius: 4px;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  .description-title {
    padding: 10px 0 30px 0;
    font-size: 18px;
    color: #222;
    border-bottom: 1px solid #ddd;
  }
  .description-detail {
    padding-top: 25px;
    color: #222;
    font-size: 15px;
    font-weight: 300;
  }
}
.wrapper-list {
  padding-top: 25px;
}
.ul-item-address {
  > li {
    border-bottom: 1px solid #ddd; 
    padding: 10px 0;
    > span {
      color: #5c6872;
      font-weight: 300;
      font-size: 15px;
    }
  }
}
.feature-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-title {
  margin-bottom: 30px;
}
.feature-item {
  color: $title-color;
  width: 33.33%;
  padding-bottom: 20px;
  > i {
    padding-right: 10px;
  }
}
.comment-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  .number-comment {
    font-size: 18px;
  }
  .comment-star {
    display: flex;
    .star-info {
      padding-left: 10px;
      font-size: 15px;
      font-weight: 300;
    }
    
  }

}
.star {
  color: #BCC52A;
}
.comment-detail-1 {
  border-bottom: 1px solid #ddd;
}
.comment-detail-last {
  padding-top: 35px;
}
.comment-detail {
  padding-bottom: 25px;
  display: flex;

}
.user-cmt-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 25px;
}
.comment-user-info {
  .comment-user-name {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    > span {
      padding-right: 25px;
    }
  }
  .comment-time {
    color: #5c6872;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .comment-content {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
  }
}
.comment-wrapper {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 35px;
  border-radius: 4px;
}
.post-comment {
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
}
.form-info-user {
  display: flex;
  justify-content: space-between;
}
.form-cus {
  width: 48% !important;
  padding-top: 5px;
}
.inputCus2 {
  &::placeholder {
    font-size: 15px;
  }
}
.inputCus {
  height: 200px;
  &::placeholder {
    transform:translate3d(0,-70px,0)
  }
}
.save-info-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rating-star {
  display: inline-flex;
  flex-direction: row-reverse;
}
.rating-star input {
  display: none;
}
.rating-star label {
  color: #eee;
}
.rating-star label:before {
  font-family: "FontAwesome";
  display: block;
  font-size: 1rem;
  padding: 0.3rem 0.2rem;
  margin: 0;
  cursor: pointer;
  font-weight: 900;
  content: "\f005";
  color: inherit;
}
.rating-star label.half {
  width: 25px;
  overflow: hidden;
  position: relative;
  margin-right: -25px;
}
.rating-star label.half:before {
  content: "\f005";
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 0;
  width: 100%;
}
.rating-star input:checked ~ label:before {
  text-shadow: 0px 0 5px rgba(255, 157, 180, 0.28);
  color: #bec715;
}
.text-area-customize::placeholder {
  color: #484848;
  font-size: 13px;
}
input[type='text'] { font-size: 15px; }

.slider-thumbnail-img {
  margin-bottom: 30px;
}
.map-on-detail-page {
  width: 100%;
  // height: 200px;
  z-index: 4;
  display: none;
  position: relative;
  transition: all 1s;
}
.map-respon-detail-page {
  padding-bottom:56.25% !important;
}

.link-to-detail-page {
  text-decoration: none !important;
}

.title-wizard {
  text-align: center !important;
}
.post-container {
  background-color: #FFF;
  // background-color: #FFF;
}
.post-inner {
  background-color: #FFF;
  padding: 0;
  font-family: $title-font;
  input::placeholder {
    color: #222;
  }
}
.dropzone {
  border: 2px dashed #3588F8 !important;
  margin-bottom: 40px;
}


.payment-desc-info {
  font-family: $title-font;
  // font-style: italic;
  font-weight: 600;
  color: #212529;
  font-size: 18px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 30px;
  padding-left:15px;
}

.inputGroup-radio-payment {
  background-color: #eee;
  display: block;
  position: relative;
  margin: 0 80px;
  

  .label-radio-payment {
    padding: 8px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #64B85C;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  .input-radio-payment:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: #61C0DF;
      border-color: #61C0DF;
    }
  }

  .input-radio-payment {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}
.form-radio-payment {
  padding: 0 16px;
  max-width: 550px;
  margin: 0px auto 0px;
  font-family: $title-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  
}

/*Payment Visa Card*/
.payment-visacard-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name""number number""expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}

.label-payment {
  // padding-bottom: 5px;
  font-size: 13px;
  margin: 0;
}

.input-payment {
  margin-top: 3px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container-visa-card {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
  padding-top: 0;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard{
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.creditcard .lightblue {
  fill: #03A9F4;
}

.creditcard .lightbluedark {
  fill: #0288D1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}

#cardback .st12 {
  font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container-visa-card {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*Payment Visa Card*/

.help-block {
  padding-left: 3px;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  color: red;
}
.has-error {
  margin: 0;
}
.w33 {
  width: 33%;
}
.number-font {
  font-family: 'Montserrat', sans-serif; 
  font-weight:300;
}

/* Pricing Card */
.submit-post-form {
  background-color: #226AD9 !important;
}
.sw-btn-next {
  background-color: #226AD9 !important;
}
.sw-btn-prev {
  background-color:#226AD9 !important;
}
#amount-pay {
  padding-left: 5px;
  color: #C64545;
  font-weight: 600;
  font-size: 18px;
}
.choosing-price-input {
  width: 120px;
}
.into-money-wrapper {
  // padding: 10px 0;
  font-size: 18px;
}
.into-money-title {
  background-color: #2D5772;
  color: #fff;
  font-weight: 600;
  padding: 15px 80px;
  border-radius: 4px;
  text-align: center;
}

.bg-gradient {
  background: #FFF !important;
  padding: 0 3rem 65px;
  border-bottom: 1px solid #ddd;
  
  } 
  .ul-pricing li {
    margin-bottom:1rem;
  }
  .pricing-divider {
  border-radius: 20px;
  background: #C64545;
  padding: 1em 0 3.5em;
  position: relative;
  }
  .shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  .card-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 1.25rem 1.25rem 1.25rem;
  }
  .display-2 {
    font-size: 3.5rem;
  }
  .type-pricing {
    font-size: 19px;
  }
  .choosing-price {
    align-items: center;
    &-item {
      width: 32%;
    }
  }
  .package-price::before {
    content: 'đ/ngày';
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    position: absolute;
    bottom: 38%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  .blue .pricing-divider{
  background: #2D5772; 
  }
  .green .pricing-divider {
  background: #1AA85C; 
  }
  .red b {
    color:#C64545
  }
  .blue b {
    color:#2D5772
  }
  .green b {
    color:#1AA85C
  }
  .pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
  }
  .deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  .btn-custom  {
    background:#C64545; color:#fff; border-radius:20px
  }
  
  .img-float {
    width:50px; position:absolute;top:-3.5rem;right:1rem
  }
  
  .princing-item {
    transition: all 150ms ease-out;
    
  }
  .princing-item:hover {
    transform: scale(1.05);
  }
  .princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
  }
  .princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
  }
  
/* Pricing Card */

/*Payment through account system*/
.payment-system-account {
  display: none;
  justify-content: center;
  font-size: 18px;
  
}
.info-amount-account {
  list-style: none;
  width: 100% !important;
  padding: 0 75px;
  font-size: 17px;
  &-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    
    .span-first {
      padding-left: 100px;
    }

    &-warning {
      display: none;
      border-bottom: none;
      color: red;
      > small {
        font-size: 17px;
      }
    }
  }
}
/*Payment through account system*/


/* Top-up-page */

.top-up {
  font-family: $title-font;
  &-title {
    padding-top: 100px;
    font-weight: 500;
    text-align: center;
  }
  &-desc {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }
}

.payment-method {
  padding-top: 30px;
  &-card {
    text-align: center;
    
    padding:0 15px;
    &-wrapper {
      cursor: pointer;
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
      transition: transform .4s, color .1s;
      &:hover {
        transform: scale(1.07);
        color: #cb3737;
      }
    }
    &__img {
      padding: 30px 15px 15px;
    }
    &__title {
      padding: 0px 0 15px;
      font-weight: 400;
      font-size: 25px;
    }
    &__desc {
      color: #54595f;
      font-weight: 16px;
      font-weight: 300;
      padding: 0 30px 14px;
    }
  }
 
}

.choose-price {
  list-style: none;
  padding-right: 40px;
  border-right: 1px solid #ddd;
  &-item {
    border-bottom: 1px solid #ddd;
    padding: 12px 10px;
    &--desc {
      padding-top: 0;
    }
    > label {
      margin-bottom: 0;
    }
  }
}

.tip-payment {
  padding-bottom: 30px;
  font-style: italic;
  font-size: 18px;
  span {
    font-size: 18px;
    padding-right: 10px;
  }
}

.detail-payment-info {
  flex-grow: 1;
  padding: 0 40px;
  position: relative;
}
.detail-payment-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
}
.choose-price-item-last {
  padding: 40px 10px 105px;
  border-bottom: none;
}
.transaction-detail {
  display: none;
}


.qr-pay-wrapper {
  font-family: $primary-font;
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 30px 50px 0px;
  display: none;
  margin-bottom: 15px;
  border-bottom: none;
}
.qr-pay-desc {
  font-size: 13px;
  color: #676e76;
}

.nav-link.inactive {
  color: #676e76 !important;
}

/* Top-up-page */

/*Custom smart Wizard*/
.sw-theme-default {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.13);
  margin-bottom: 80px;
  background-color: #fff;
}
.sw-theme-default>.nav .nav-link.active {
  color: #fff !important;
  font-weight: 500;
  font-size: 18px;
  background-color: #52A3B8;
}

.sw-theme-default .inactive {
  // color: #fff !important;
  font-weight: 500;
  font-size: 18px;
  background-color: #F7F7F7;
}
.tab-pane {
  padding: 30px 40px 20px !important;
}
.post-title-info {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.post-desc-info {
  font-size: 13px;
  color: #5c727d;
  max-width: 300px;
}
.pb65 {
  padding-bottom: 60px !important;
}
.submit-info {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin: 0 0 50px;
}
/*Custom smart Wizard*/

.other-input-post {
  padding: 0 10px !important;
  color: #222;
}




@media only screen and (max-width: 767px) {
  .navbar-nav {
    background: rgba($color: #000000, $alpha: 0.5);
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
}
