@import "variables";

.carousel-review  {
    
    margin-bottom: 90px;
    .carousel-item {
        height: 300px !important;
    }
    .carousel-inner {
        position: relative;
    }
    .carousel-inner::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('/src/public/img/customer.jpeg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -2;
    }
    .carousel-inner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
        z-index: -1;
    }
    .carousel-caption {
        z-index: 1;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
    
        .cus-title {
            font-family: $primary-font;
            font-weight: 700;
            > span {
                color: $title-color;
                padding: 15px;
            }
        }
        .cus-avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
        .cus-rev {
            font-style: italic;
            &::before {
                content: '\f10d';
                font-family: "FontAwesome";
                margin-right: 20px;
            }
            &::after {
                content: '\f10e';
                font-family: "FontAwesome";
                margin-left: 20px;
            }
        }
        .cus-name {
            color: $title-color;
            font-family: $primary-font;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 6px;
        }
        .cus-pos {
            font-family: $primary-font;
            font-weight: 300;
            font-size: 16px;
        }
        
    }
    
}