<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Account Management</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Account Management</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h4 class="card-title">List of @Users</h4>
                            <h6 class="card-subtitle">Here is a list of users on system.</h6>
                        </div>
                        <div class="admin-add-user pr-4">
                            <button class="btn btn-success">
                                <i class="mdi mdi-account-plus pr-1"></i>
                                Add new User
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>duyphong</td>
                                    <td>vietna****</td>
                                    <td>dphong@gmail.com</td>
                                    <td>18/7/20</td>
                                    <td>Admin</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>namnguyen32</td>
                                    <td>vandal****</td>
                                    <td>nam.nguyen@gmail.com</td>
                                    <td>25/5/20</td>
                                    <td>Admin</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>thanhtrung</td>
                                    <td>thaytien****</td>
                                    <td>trung01@gmail.com</td>
                                    <td>16/9/20</td>
                                    <td>Admin</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>huynhvu</td>
                                    <td>baga****</td>
                                    <td>huynh.vu.96@gmail.com</td>
                                    <td>6/8/20</td>
                                    <td>Host</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>bagavippro</td>
                                    <td>proboy****</td>
                                    <td>boyzzk@gmail.com</td>
                                    <td>18/9/19</td>
                                    <td>Host</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>fakerr96</td>
                                    <td>korean****</td>
                                    <td>phake.phake@gmail.com</td>
                                    <td>12/7/20</td>
                                    <td>Host</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>trandanquocsu</td>
                                    <td>hoaky****</td>
                                    <td>tigertran@gmail.com</td>
                                    <td>18/2/20</td>
                                    <td>User</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>decuabanh</td>
                                    <td>vinahou****</td>
                                    <td>quay.ko.biet.met@gmail.com</td>
                                    <td>18/2/20</td>
                                    <td>User</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>thuyangle</td>
                                    <td>queen****</td>
                                    <td>angle.56@gmail.com</td>
                                    <td>14/11/20</td>
                                    <td>User</td>
                                    <td>
                                       <button type="button" class="btn btn-primary"><i class="mdi mdi-account-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger"><i class="mdi mdi-account-remove"></i> Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by PhongTroTot - Team 3
        <a href="/">PhongTroTot</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->