<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Email campaign chart -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Website Traffic</h4>
                        <div class="sales ct-charts mt-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-5">Profits</h5>
                        <h3 class="font-light">20.846.579 VND/ <sub>cur month</sub></h3>
                        <div class="m-t-20 text-center">
                            <div id="earnings"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title m-b-0">Users</h4>
                        <h2 class="font-light">35,658 <span class="font-16 text-success font-medium">+23%</span>
                        </h2>
                        <div class="m-t-30">
                            <div class="row text-center">
                                <div class="col-6 border-right">
                                    <h4 class="m-b-0">58%</h4>
                                    <span class="font-14 text-muted">New Users</span>
                                </div>
                                <div class="col-6">
                                    <h4 class="m-b-0">42%</h4>
                                    <span class="font-14 text-muted">Repeat Users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Email campaign chart -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Ravenue - page-view-bounce rate -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Latest News</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="border-top-0">USER ACCOUNT</th>
                                    <th class="border-top-0">ACTION</th>
                                    <th class="border-top-0">TIME</th>
                                    <th class="border-top-0">DETAIL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td class="txt-oflo">duyphong96</td>
                                    <td><span class="label label-success label-rounded">Create post</span> </td>
                                    <td class="txt-oflo">7:55:40 10/21/2020</td>
                                    <td><button class="btn btn-info btn-sm">See details</button></td>
                                </tr>
                                <tr>

                                    <td class="txt-oflo">huynh.vu123</td>
                                    <td><span class="label label-danger label-rounded">Delete post</span></td>
                                    <td class="txt-oflo">8:36:30 10/21/2020</td>
                                    <td><button class="btn btn-info btn-sm">See details</button></td>
                                </tr>
                                <tr>

                                    <td class="txt-oflo">nam.nguyen</td>
                                    <td><span class="label label-info label-rounded">Edit post</span></td>
                                    <td class="txt-oflo">8:36:45 10/21/2020</td>
                                    <td><button class="btn btn-info btn-sm">See details</button></td>
                                </tr>
                                <tr>

                                    <td class="txt-oflo">thoramerican</td>
                                    <td><span class="label label-warning label-rounded">Find roomate</span></td>
                                    <td class="txt-oflo">8:37:02 10/21/2020</td>
                                    <td><button class="btn btn-info btn-sm">See details</button></td>
                                </tr>
                                <tr>

                                    <td class="txt-oflo">tuan_van</td>
                                    <td><span class="label label-success label-rounded">Creat account</span></td>
                                    <td class="txt-oflo">8:37:25 10/21/2020</td>
                                    <td><button class="btn btn-info btn-sm">See details</button></td>
                                </tr>
                                <tr>

                                    <td class="txt-oflo">vanvu99</td>
                                    <td><span class="label label-success label-rounded">Payment</span> </td>
                                    <td class="txt-oflo">8:58:40 10/23/2020</td>
                                    <td><button class="btn btn-info btn-sm">See details</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Ravenue - page-view-bounce rate -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Comments</h4>
                    </div>
                    <div class="comment-widgets" style="height:430px;">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2">
                                <img src="/src/public/img/user7.jpg" alt="user" width="50"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-family-custom-ptt">Nhã Phương</h6>
                                <span class="m-b-15 d-block">Phòng trọ đẹp, chất lượng phục vụ tốt.
                                    </span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-rounded label-primary">Pending</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2">
                                <img src="/src/public/img/user6.jpg" alt="user" width="50"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text active w-100">
                                <h6 class="font-family-custom-ptt">Hà Anh Tuấn</h6>
                                <span class="m-b-15 d-block">Cần tìm người ở ghép trọ ở đường Nguyễn Văn Linh.</span>
                                <div class="comment-footer ">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-success label-rounded">Approved</span>
                                    <span class="action-icons active">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="icon-close"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart text-danger"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2">
                                <img src="/src/public/img/user5.jpg" alt="user" width="50"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-family-custom-ptt">Tuấn Hưng</h6>
                                <span class="m-b-15 d-block">Nhờ website mà mình đã tìm được trọ một cách dễ dàng. </span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-rounded label-danger">Rejected</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2">
                                <img src="/src/public/img/user2.jpg" alt="user" width="50" style="height: 50px; object-fit: cover;"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-family-custom-ptt">Như Ngọc</h6>
                                <span class="m-b-15 d-block">Tôi là chủ trọ, quản lí trọ thông qua website PhongTroTot rất tiện lợi và an toàn. Hãy dùng thử nhé !</span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-rounded label-primary">Pending</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2">
                                <img src="/src/public/img/user5.jpg" alt="user" width="50"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-family-custom-ptt">Tuấn Hưng</h6>
                                <span class="m-b-15 d-block">Nhờ website mà mình đã tìm được trọ một cách dễ dàng. </span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-rounded label-danger">Rejected</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2">
                                <img src="/src/public/img/user2.jpg" alt="user" width="50" style="height: 50px; object-fit: cover;"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-family-custom-ptt">Như Ngọc</h6>
                                <span class="m-b-15 d-block">Tôi là chủ trọ, quản lí trọ thông qua website PhongTroTot rất tiện lợi và an toàn. Hãy dùng thử nhé !</span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-rounded label-primary">Pending</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2">
                                <img src="/src/public/img/user5.jpg" alt="user" width="50"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-family-custom-ptt">Tuấn Hưng</h6>
                                <span class="m-b-15 d-block">Nhờ website mà mình đã tìm được trọ một cách dễ dàng. </span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-rounded label-danger">Rejected</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2">
                                <img src="/src/public/img/user2.jpg" alt="user" width="50" style="height: 50px; object-fit: cover;"
                                    class="rounded-circle-custom-phongtrotot">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-family-custom-ptt">Như Ngọc</h6>
                                <span class="m-b-15 d-block">Tôi là chủ trọ, quản lí trọ thông qua website PhongTroTot rất tiện lợi và an toàn. Hãy dùng thử nhé !</span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2020</span>
                                    <span class="label label-rounded label-primary">Pending</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            
        </div>
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by PhongTroTot - Team 3
        <a href="/">PhongTroTot</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>