<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Payment History</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Payment History</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Main account: <span style="font-weight: 600;">200.000 đ đ</span></h4>
                        <h6 class="card-subtitle">Below is payment history.</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Payment Code</th>
                                    <th scope="col">Date of Payment</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Payment Type</th>
                                    <th scope="col">Type of News</th>
                                    <th scope="col">Amount of Money</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>VT569</td>
                                    <td>18/6/20</td>
                                    <td>Recharge</td>
                                    <td>Viettel OTP</td>
                                    <td>Special</td>
                                    <td>200.000 đ</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>MB789</td>
                                    <td>5/6/20</td>
                                    <td>Recharge</td>
                                    <td>Mobiphone SMS</td>
                                    <td>Normal</td>
                                    <td>150.000 đ</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>AG473</td>
                                    <td>16/11/20</td>
                                    <td>Recharge</td>
                                    <td>Agribank - iBanking</td>
                                    <td>Vip</td>
                                    <td>20.000 đ</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>CR369</td>
                                    <td>16/11/20</td>
                                    <td>Recharge</td>
                                    <td>Visa Card</td>
                                    <td>Normal</td>
                                    <td>100.000 đ</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>QR156</td>
                                    <td>16/11/20</td>
                                    <td>Recharge</td>
                                    <td>QR Pay</td>
                                    <td>Normal</td>
                                    <td>50.000 đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by PhongTroTot - Team 3
        <a href="/">PhongTroTot</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->