*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1{
  width: 100%;
  height: 100%;
}

/*  First*/
.first{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('https://images.wallpaperscraft.com/image/interior_design_sofa_coffee_tables_113658_1400x1050.jpg?fbclid=IwAR1dLebBVVdaX6nPZwRO-p_2Yy510bkub20C58TZKsJdntDoSiOHIBUHUTM');
  background-size: cover;
  background-position: center;
}

.first-left{
  width: 55%;
  height: 100%;
  float: left;
}

.first-right{
  width: 45%;
  height: 100%;
  background-image: url('https://shotel.vn/images/iphone/iphone-x.png');
  background-repeat: no-repeat;
  float: left;
  background-position: center;
}

.line-1{
  position: relative;
  top: 35%;  
  width: 24em;
  margin: 0 auto;
  font-size: 2.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);   
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Animation */
.anim-typewriter{
animation: typewriter 3s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 26em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.line-2{
  position: relative;
  top: 37%;  
  width: 24em;
  margin: 0 auto;
  font-size: 2.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);   
  color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Animation */
.anim-typewriter2{
animation: typewriter 3.5s steps(44) 4s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 21em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.line-3{
  position: relative;
  top: 37%;  
  width: 24em;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);   
  color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Animation */
.anim-typewriter3{
animation: typewriter 3.5s steps(44) 5.5s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 21em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.line-4{
  position: relative;
  top: 37%;  
  width: 24em;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);   
  color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Animation */
.anim-typewriter4{
animation: typewriter 3.5s steps(44) 9.5s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 22em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}


.btn{
  width: 150px;
  height: 50px;
  position: relative;
  margin-top: 22em;
  margin-left: 1em;
  border-radius: 10px;
}

#register{
  margin-left: 18em;
}

/* /First */


/* SECOND */

.second{
  width: 100%;
  height: 100vh;
  float: left;
}

.second-on{
  width: 100%;
  height: 20%;
  float: left;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 23px;
  padding-top: 2em;
  color: #333;
}

/*  */

.second-up{
  width: 100%;
  height: 80%;
  float: left;
}


.second-up-left{
  width: 60%;
  height: 100%;
  float: left;
  /* background: radial-gradient(rgb(252, 249, 249),#ffffff); */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(47,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(42,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='11.219999999999999'%3E%3Cpath transform='translate(-102.55 12.799999999999999) rotate(5.15 1409 581) scale(0.9910929999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.74' transform='translate(-98.5 70) rotate(11.5 800 450) scale(1.016766)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(32.599999999999994 -124.5) rotate(105.5 401 736) scale(1.016766)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.4'%3E%3Cpath transform='translate(420 -8.999999999999998) rotate(2.2499999999999996 150 345) scale(0.9670309999999999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='7.48' transform='translate(-175.5 -184.5) rotate(115.19999999999999 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-313.6 94.4) rotate(19.200000000000003 1400 132) scale(0.905)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

}


.image{
  width: 70%;
  height: 100%;
  margin-left: 13%;
  padding-left: 5em;
  /* transition-duration: .6s;
  transition-delay: .6s; */
}

.circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(245, 197, 166);
  position: relative;
  bottom: 10em;
  z-index: 3;
  left: 5em;
  transition: .3s;
}

.circle-2{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(241, 214, 209);
  position: relative;
  bottom: 48em;
  z-index: 4;
  left: 46em;
}
.circle-3{
  width: 200px;
  height: 200px;
  border-radius: 48%;
  position: relative;
  bottom: 60em;
  z-index: 4;
  left: 45em;
  border: 0.2px solid rgb(240, 139, 93);
  transition: .3s;
}

.circle-4{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(243, 160, 146);
  position: relative;
  bottom: 52em;
  z-index: 0;
  left: 44em;
  transition: .5s;
}

.circle-4:hover{
  transform: scale(1.1);
}
.circle-3:hover{
  transform: scale(1.1);
}

.circle:hover{
  transform: scale(1.1);
}

#image-2, #image-3,#image-4{
  display: none;
}

.second-up-right{
  width: 40%;
  height: 100%;
  float: left;
  padding-left: 2em;
  padding-right: 13em;
  padding-top: 5em;
}

[data-toggle="collapse"]:after {
  display: inline-block;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      /* font-size: inherit; */
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
    /* float: right; */
    }   
  [data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
  }


  /* THIRD */

.third{
  width: 100%;
  height: 100vh;
  float: left;
  background-color:#FCFCFC;
}

.third-on{
  width: 100%;
  height: 20%;
  float: left;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #333;
}

.third-up{
  width: 100%;
  height: 80%;
  float: left;
}

.third-up-content{
  width: 70%;
  height: 16%;
  float: left;
  margin-left: 15%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 3px rgb(219, 217, 217);
  border-radius: 10px;
  transition: .3s;
}

.third-up-content:hover{
  transform: scale(1.5);
  background-color: #f1eded;
}

.image-content{
  width: 15%;
  height: 85%;
  float: left;
  background-color:#89bef7;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 1%;
  padding-top: 0.3em;
  padding-left: 0.3em;
}

.image-content:hover{
  background-color: #ec8056;
}

.content{
  width: 75%;
  height: 100%;
  float: left;
}

.third-up-content:hover{
  transform: scale(1.05);
}



.third-up-left{
  width: 50%;
  height: 100%;
  float: left;
}

.third-up-right{
  width: 50%;
  height: 100%;
  float: left;
}

/*  */

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.count{
  width: 100%;
  height: 70vh;
  float: left;
  margin-top: 3em;
  background-color: #F6F7F8 !important;
}


.gg{
  width: 150px;
}

.gg:hover{
  transform: scale(1.05);
  cursor: pointer;
}





