.news-card {
    width: 350px;
    height: 370px;
    /* background-image: url('https://themetrading.com/html/fresher/demo/images/property/7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-attachment: fixed; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}
.news-card__img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    box-sizing: border-box;
    transition: all 1s;
}

.news-card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.4);
    z-index: 1;
}

.card-title--top {
    /* position: absolute;
    top: 15px;
    left: 0px;
    width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.card-title-top-right {
    display: flex;
    margin-left: 15px;
}

.card-title-top-left {
    display: flex;
    margin-right: 15px;
    opacity: 0;
}
.card-title-top__sale {
    margin-right: 5px;
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    background-color:#5CAE97;
}
.card-title-top__feature {
    padding: 5px 10px;
    color: #fff;
    background-color: #20ad96;
}
.card-title-top__heart {
    margin-right: 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: #20ad96;
}
.card-title-top__map {
    padding: 5px 10px;
    color: #fff;
    background-color: #20ad96;
}

.card-title--bot{
    z-index: 3;
    /* margin-left: 10px; */
    padding: 10px 10px 35px 15px;
    display: flex;
    flex-direction: column;
}
.card-price {
    padding: 4px 8px;
    background-color: #fff;
    color: #000;
    width: 148px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.card-title-name {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.card-location > i {
    color: #20ad96;
}
.card-location {
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    /* margin-bottom: 15px; */
}

.card-detail {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 0;
    list-style: none;
    display: flex; 
    padding-left: 10px;
    opacity: 0;
    margin: 0;
}
.card-detail li {
    margin: 0;
    padding: 0;
    padding-right: 15px;
}
.card-detail li > span {
    color: #20ad96;
    padding: 0 7px;
    font-weight: 600;
    font-size: 14px;
    
}

.vnd-icon {
    width: 14px;
}
.card-bot-container {
    z-index: 3;
}
.card-title--top {
    z-index: 3;
}
.news-card:hover .news-card__img-cover{
    transform: scale(1.2);
    transition: all 1s;
}

.news-card:hover .card-bot-container:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    transition: all 0.8s;
}

.news-card:hover .card-detail{
    opacity: 1;
    transform: translateY(-30px);
    transition: all 0.8s;
}
.news-card:hover .card-title--bot{
    transform: translateY(-30px);
    transition: all 0.8s;
}

.news-card:hover .card-title-top-left{
    opacity: 1;
    transition: all 0.8s;
}
.news-card:hover::before{
    display: none;
}

.map-detail {
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
    position: relative;
    transition: all 1s;
}
.map-back > i {
    padding-right: 5px;
    font-size: 20px;
}
.map-back {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 20px;
    z-index: 10;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #20ad96;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title-top__heart:hover {
    color: red;
    transition: all 1s;
}
.news-container {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.news-card {
    margin-bottom: 30px;
}

/* .alert-success {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999999999;
} */

.card-see-more > a{
   color: #20ad96;
}

.card-price > sub {
    /* Mac dinh the <sub> da co cac thuoc tinh nay */
    /* position: relative;
    bottom: 10px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.map-respon {
    overflow:hidden;
    padding-bottom:108%;
    position:relative;
    height:0;
  }
  .map-respon iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
