<nav class="navbar navbar-expand-lg navbar-light fixed-top {{#unless isHome}} bg-light {{/unless}}">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img id="logo" 
      src="{{#if isHome}}/src/public/img/logo2.svg{{else}}/src/public/img/logo3.svg{{/if}}" 
      style="width: 60%; height: 100%;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news/post">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Find Partner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 form-search">
        <div class="icon-search">
          <i class="fas fa-search"></i>
        </div>
        <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>