<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/function.css" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <div class="container-function" data-aos="zoom-in-left">
        <div class="container mt-5">

            <!--Section: Content-->
            <section class="dark-grey-text text-center" style="margin-top: 12em;">

                <!-- Section heading -->
                <h3 class="font-weight-bold black-text mb-3 pb-2" style="color: white;  font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 25px;">SELECTION OF MANAGEMENT FUNCTIONS</h3>
                <hr class="w-header">
                <!-- Section description -->
                <h3 class="font-weight-bold black-text mb-5 pb-2" style="color: white;  font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 16px;">SELECTION OF MANAGEMENT FUNCTIONS</h3>


                <!--First row-->
                <div class="row">

                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!-- Card -->
                    <a href="/manage/room_manage/function/manage-room-status" class="card hoverable" style="text-decoration: none;">
                    
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-home" style="font-size: 25px;"></i></p>
                        <h5 class="black-text mb-0">Room manager</h5>
                        
                    </div>

                    </a>
                    <!-- Card -->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!-- Card -->
                    <a href="/manage/room_manage/function/declare" class="card hoverable" style="text-decoration: none;">
                    
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-newspaper" style="font-size: 25px;"></i></p>
                        <h5 class="black-text mb-0">Declare</h5>
                        
                    </div>

                    </a>
                    <!-- Card -->

                </div>
                <!--Grid column-->
                
                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!-- Card -->
                    <a href="/manage/room_manage/function/tenant" class="card hoverable" style="text-decoration: none;">
                    
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-address-book" style="font-size: 25px;"></i></p>
                        <h5 class="black-text mb-0">Managing guests</h5>
                        
                    </div>

                    </a>
                    <!-- Card -->

                </div>
                <!--Grid column-->
                
                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!-- Card -->
                    <a href="/manage/room_manage/function/invoice" class="card hoverable" style="text-decoration: none;">
                    
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-receipt" style="font-size: 25px;"></i></p>
                        <h5 class="black-text mb-0">Send an invoice</h5>
                        
                    </div>

                    </a>
                    <!-- Card -->

                </div>
                <!--Grid column-->

                </div>
                <!--First row-->

            </section>

        </div>
    </div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration:2500,
        });
    </script>
</body>
</html>