
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="img-cover"></div>
            <img class="d-block w-100 carousel-img"
                src="https://images.wallpaperscraft.com/image/interior_style_design_metropolis_home_living_space_76284_1400x1050.jpg"
                alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="typewriter">Manage Acommodation</h3>
                <p class="animate__animated animate__fadeInUp">WE ARE CREATIVE</p>
                <button type="button" class="btn btn-light animate__animated animate__fadeInUp animate__delay-1s">Explore</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-cover"></div>
            <img class="d-block w-100 carousel-img"
                src="https://images.wallpaperscraft.com/image/interior_design_furniture_living_room_style_70162_1400x1050.jpg">
           <div class="carousel-caption d-none d-md-block">
                <h3 class="animate__animated animate__fadeInUp">Find Partner</h3>
                <p class="animate__animated animate__fadeInUp animate__delay-1s">WE ARE CREATIVE</p>
                <button type="button" class="btn btn-light animate__animated animate__fadeInUp animate__delay-1s">About Us</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-cover"></div>
            <img class="d-block w-100 carousel-img"
                src="https://images.wallpaperscraft.com/image/interior_design_sofa_coffee_tables_113658_1400x1050.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="animate__animated animate__backInDown">Find Acommodation</h3>
                <p class="animate__animated animate__fadeInUp animate__delay-1s">WE ARE CREATIVE</p>
                <button type="button" class="btn btn-light animate__animated animate__fadeInUp animate__delay-1s">Contact</button>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>