
<div class="w-100" style="padding-top: 80px;">
    <div class="row">
        <div class="col-3" style="background-color: yellow; height: 100vh"></div>
        <div class="col-9" style="background-color: #ccc; height: 100vh"></div>
    </div>
</div>